@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 84% 5%;

    --secondary: 210 40% 96%;
    --secondary-foreground: 215 16% 47%;
  }

  .dark {
    --background: 200 6% 10%;
    --foreground: 210 40% 98%;

    --secondary: 210 6% 13%;
    --secondary-foreground: 210 6% 40%;
  }
}

@layer components {
  .btn {
    @apply rounded-lg px-4 py-2 text-sm outline-none;
  }

  .btn:disabled {
    @apply opacity-75 cursor-not-allowed;
  }

  .btn-blue {
    @apply transition-all bg-blue text-white hover:bg-blue-dark focus:bg-blue-dark focus:ring-4 focus:ring-blue/15;
  }

  .btn-red {
    @apply transition-all bg-red text-white hover:bg-red-dark focus:bg-red-dark focus:ring-4 focus:ring-red/15;
  }

  .btn-green {
    @apply transition-all bg-green text-white hover:bg-green-dark focus:bg-green-dark focus:ring-4 focus:ring-green/15;
  }

  .btn-yellow {
    @apply transition-all bg-yellow text-white hover:bg-yellow-dark focus:bg-yellow-dark focus:ring-4 focus:ring-yellow/15;
  }

  .btn-pink {
    @apply transition-all bg-pink text-white hover:bg-pink-dark focus:bg-pink-dark focus:ring-4 focus:ring-pink/15;
  }

  .btn-indigo {
    @apply transition-all bg-indigo text-white hover:bg-indigo-dark focus:bg-indigo-dark focus:ring-4 focus:ring-indigo/15;
  }

  .btn-sky {
    @apply transition-all bg-sky text-white hover:bg-sky-dark focus:bg-sky-dark focus:ring-4 focus:ring-sky/15;
  }

  .btn-orange {
    @apply transition-all bg-orange text-white hover:bg-orange-dark focus:bg-orange-dark focus:ring-4 focus:ring-orange/15;
  }

  .btn-secondary {
    @apply transition-all bg-background text-foreground hover:bg-secondary focus:bg-secondary focus:ring-2 focus:ring-secondary focus:ring-offset-2 focus:ring-offset-background border border-gray-200 dark:border-gray-500/25;
  }

  .btn-outline-red {
    @apply text-base transition-all bg-background text-red border-2 border-red hover:bg-red focus:bg-red focus:ring-4 focus:ring-red/15 hover:text-white focus:text-white;
  }

  .btn-link {
    @apply text-sm text-secondary-foreground hover:text-foreground hover:underline focus:text-foreground focus:underline;
  }

  .btn-close {
    @apply text-2xl p-1;
  }

  .btn-checkbox {
    @apply text-base flex rounded-lg border border-secondary dark:border-gray-500/25 px-4 py-2 transition-all ring-2 ring-transparent hover:ring-black dark:hover:ring-white/25 hover:bg-secondary focus:bg-secondary focus:ring-red dark:focus:ring-red;
  }

  .form-control {
    @apply rounded-lg border border-gray-200 bg-background text-foreground outline-none transition-all dark:border-gray-500/25 focus-within:border-blue focus-within:ring-4 focus-within:ring-blue/15 dark:focus-within:border-blue;
  }

  .form-control:disabled,
  .form-control[aria-disabled="true"] {
    @apply cursor-not-allowed bg-secondary/25 focus-within:ring-0 focus-within:border-gray-200 dark:focus-within:border-gray-500/25;
  }

  :has(.form-control + p.text-red)>.form-control {
    @apply border-red focus-within:ring-red/15;
  }

  .checkbox {
    @apply rounded border border-gray-200 dark:border-gray-500/25 bg-background text-blue !outline-none transition-all focus:border-blue focus:ring-2 focus:ring-blue/15 focus:ring-offset-2 focus:ring-offset-background;
  }
}

.rpv-core__viewer,
.rpv-core__inner-container {
  width: auto;
  height: auto;
}